/* フレックス */
.flex{
    display: flex;
}
/* エラーメッセージ */
.error{
    color: red;
}
/* 成功時メッセージ */
.success{
    color: lightgreen;
}
/* Likeボタン */
.loved i {
    color: red !important;
}
/* ヘッダー */
.header_nav li{
    list-style-type: none;
}